# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build
/.next/
/out/

# Production
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store

# Go
/dist/
distritask.exe
/cmd/manager/manager
/cmd/worker/worker
/cmd/dashboard/dashboard

