[phases.setup]
nixPkgs = ["go"]

[phases.install]
cmds = ["go mod download"]

[phases.build]
cmds = ["CGO_ENABLED=0 GOOS=linux go build -a -installsuffix cgo -o manager github.com/heyu255/distritask/cmd/manager"]

[start]
cmd = "./manager"
